<header class="bg-[#212529] text-white">
    <div class="container">
        <nav class="flex justify-between items-center w-[85%] mx-auto py-4">
            <div>
                <img src="arcane-logo.png" class="w-56" alt="">
            </div>

            <div>
                <ul class="flex items-center gap-[1vw] text-xl">
                    <!-- <li>
                        <a href="#" class="hover:text-gray-500">Home</a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-gray-500">Episodes</a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-gray-500">Characters</a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-gray-500">Gallery</a>
                    </li>
                    <li>
                        <a href="#" class="hover:text-gray-500">Wiki</a>
                    </li> -->

                    <li>
                        <a href="#" class="">Home</a>
                    </li>
                    <li>
                        <a href="#" class="">Episodes</a>
                    </li>
                    <li>
                        <a href="#" class="">Characters</a>
                    </li>
                    <li>
                        <a href="#" class="">Gallery</a>
                    </li>
                    <li>
                        <a href="#" class="">Wiki</a>
                    </li>
                </ul>
            </div>

            <div>
                <form class="flex" role="search">
                    <input class="px-4 mr-2 border-2 rounded-md " type="search" placeholder="Search" aria-label="Search">
                    <button class="border-2 border-green-500 text-green-500 hover:bg-green-500 hover:text-white focus:ring-4 focus:ring-green-500 px-4 py-2 rounded-md" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

</header>