<div class="container px-20">
    <h1 class="text-center text-white my-4 font-Audiowide text-[52px]">MAIN CHARACTERS</h1>

    <div class="flex items-center justify-center min-h-screen container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-white">
            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="jinx.jpg" alt="" class="object-cover object-center">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Jinx</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Jinx, previously known as Powder, is one of the main characters in Arcane. She was an orphaned Zaunite after her parents were tragically slaughtered when she and her sister, Vi were younger.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="vi.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Vi</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Violet (commonly known as Vi) is a lead character appearing in Arcane. When her parents were killed by Piltover enforcers, she and her sister Powder were taken in by Vander.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="caitlyn.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Caitlyn</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Caitlyn Kiramman is a major character appearing in Arcane. Eager to prove herself from under her parents' powerful shadow and overbearing nature, Caitlyn joined the Enforcers.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="jayce.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Jayce</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Jayce is a lead character in Arcane. He is a scientist and innovator who, after years of success leading the city’s scientific and, consequently, its economic progress, became the Head of the Council of Piltover.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="viktor.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Viktor</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Viktor, the future Machine Herald, is a research assistant who decides to throw in his lot with Jayce, who became his bestfriend, and his Hextech theory. As a result, both of them are responsible for the creation of Hextech and it's subsequent events.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="vander.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Vander</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Warwick (born Vander) was once the unspoken leader and protector of the undercity. Determined and zealous, Vander did all he could in his later life to ensure the safety of those under his protection—the residents of Zaun and, more specifically, the four children he'd taken under his wing.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="silco.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Silco</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">ilco was a major supporting character in Season 1 of Arcane and second adopted father of Jinx. He was also the powerful, ambitious Zaunite leader of the chem-barons, silently controlling Zaun from under the noses of Piltover's authority.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="ambessa.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Ambessa</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Ambessa Medarda Was a powerful warlord and stateswoman in Noxus. A master of both eloquent speech and brutal force, she deftly manipulates situations and people to serve her and her family’s interests, whether through words or actions.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="ekko.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Ekko</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Ekko is a major character appearing in Arcane. One of many children who grew up in the Lanes. Upon the death of his mentor and the disappearance of his friends, Ekko finds a way to survive on his own and help others fight back against Silco's reign over their home.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="heimerdinger.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Heimerdinger</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Heimerdinger is a renowned and respected figure in Piltover. A scientist, professor, dean, and once the head of the Council, Heimerdinger has helped mold the minds of young scholars at the Academy. He lived for over three centuries, hoping to guide and caution students from the potential risks of magic.</p>

                </div>
            </div>

            <div class="card border-solid border rounded-lg bg-[#2D3250]">
                <div class="flex flex-col text-center">
                    <div class="rounded-md overflow-hidden">
                        <img src="singed.jpg" alt="">
                    </div>

                    <h5 class="mt-2 font-Audiowide text-[40px]">Singed</h5>
                    <p class="text-[14px] px-4 mt-1 mb-4">Singed, also known as the "Mad Chemist," is a brilliant yet enigmatic scientist in Arcane. Hailing from Zaun, he operates on the fringes of morality, pushing the boundaries of science regardless of the consequences making him both a genius and a harbinger of destruction.</p>

                </div>
            </div>
        </div>
    </div>
</div>
